@mixin font-main_header{
    font-family: 'Shrikhand', cursive;
} 

@mixin font-text_xlight{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

@mixin font-text_light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin font-text_medium{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

@mixin font-text_regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin header-underline{
    font-size: 1em;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        &:before {
            content: '';
            border-bottom: 3px solid $color-tertiary;
            position: absolute;
            width: 60%;
            left: 0;
            bottom: 0;
          }
}

@mixin menu-card{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 10px#d6d5d5;
    &--title{
        @include font-text_regular;
        font-size: 1.1em;
        padding-bottom: 5px;
    }
    &--notes{
        @include font-text_xlight;
        font-size: 0.9em;
        display: inline-block
    }
    &--price{
        @include font-text_regular;
        display: inline-block;
        float: right;
    }
}

@mixin button-gradient{
    background: -moz-linear-gradient(-10deg, $color-secondary 0%, #CB68DB 40%, $color-primary 100%);
    background: -webkit-linear-gradient(-10deg, $color-secondary 0%, #CB68DB 40%, $color-primary 100%);
    background: linear-gradient(170deg, $color-secondary 0%, #CB68DB 40%, $color-primary 100%);
    box-shadow: 0 2px 5px#929191, inset 2px 0 5px $color-secondary;
}

@mixin button-gradient-light{
    background: -moz-linear-gradient(-10deg, $color-secondary-light 0%, #E582F5 40%, $color-primary-light 100%);
    background: -webkit-linear-gradient(-10deg, $color-secondary-light 0%, #E582F5 40%, $color-primary-light 100%);
    background: linear-gradient(170deg, $color-secondary-light 0%, #E582F5 40%, $color-primary-light 100%);
    box-shadow: 0 2px 5px#5F5E5E, inset 2px 0 5px $color-secondary-light;

}

@mixin order-button{
    cursor: pointer;
    padding: 0.8em;
    border: none;
    border-radius: 2em;
    width: 10em;
    background: #EC73DA;
   @include button-gradient();
    color: white;
    @include font-text_regular();
    font-size: 1em;
    &:hover{
        @include button-gradient-light();
    }
    &:focus{
        outline: none;
    }
}


@mixin search-button{
    cursor: pointer;
    padding: 0.8em;
    border: none;
    border-radius: 2em;
    width: 15em;
    background: $color-secondary;
    @include button-gradient();
    color: white;
    @include font-text_regular();
    font-size: 1em;
    &:hover{
        @include button-gradient-light();
    }
    &:focus{
        outline: none;
    }
}

@mixin color-fill{
    background:-moz-linear-gradient(-10deg, $color-primary 0% , #CB68DB 60%, $color-secondary 100%); 
    background: -webkit-linear-gradient(-10deg, $color-primary 0% , #CB68DB 60%, $color-secondary 100%); 
    background: linear-gradient(180deg,  $color-primary 0% , #CB68DB 60%, $color-secondary 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}