header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 0.5em;
    position: fixed;
    top: 0;
    & a{
        margin-right: auto;
        color: black;
    }
    & img{
        width: 180px;
        margin-left: 65px;
    }
}

