.header{
    width: 87%;
    padding: 1em;
    margin: 0.5em;
    position: fixed;
    top: 0;
    @include for-tablet{
        width: 94%;
    }
    @include for-small-desktop{
        width: 95.5%;
    }
    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img{
            width: 180px;
        }
    }
    &__tohome{
        position: relative;
        bottom: 25px;
        align-self: flex-start;
        & a{
            color: black; 
        }
    }
}

