.menu {
    height: auto;
    & img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: fixed;
        z-index: -1;
        top: 80px;
    }
    & h1 {
        display: inline-block;
        font-size: 2em;
        width: 85%;
    }
    & h2{
        @include font-text_light;
        @include header-underline;
    }
}

.menuContent{
    padding: 1em;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: 350px;
    & .heart{
        &--unselected{
            &:active{
            display: none;
                &+ .heart--selected{
                    display: inline-block;
                    background:-moz-linear-gradient(-10deg, #A65CDB 0% , #CB68DB 60%, #e984da 100%); 
                    background: -webkit-linear-gradient(-10deg, #A65CDB 0% , #CB68DB 60%, #e984da 100%); 
                    background: linear-gradient(180deg,  #A65CDB 0% , #CB68DB 60%, #e984da 100%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color:transparent;
                }
            }
        }
        &--selected{
            display: none;
        }
    }
}

.menuEntree{
    margin-bottom: 2em;
    &__card{
        @include menu-card;
    }
}

.menuMain{
    margin-bottom: 2em;
    &__card{
        @include menu-card;
    }
}

.menuDessert{
    margin-bottom: 2em;
    &__card{
        @include menu-card;
    }
}

.menu__btncontainer{
    padding: 2em 2em 3em 2em;
    display: flex;
    justify-content: center;
}


