.menu__card:nth-child(1) {
  animation-delay: 150ms;
}

.menu__card:nth-child(2) {
  animation-delay: 300ms;
}

.menu__card:nth-child(3) {
  animation-delay: 450ms;
}

.menu__card:nth-child(4) {
  animation-delay: 600ms;
}

.menu__card:nth-child(5) {
  animation-delay: 750ms;
}

.menu__card:nth-child(6) {
  animation-delay: 900ms;
}

.menu__card:nth-child(7) {
  animation-delay: 1050ms;
}

.menu__card:nth-child(8) {
  animation-delay: 1200ms;
}

.menu__card:nth-child(9) {
  animation-delay: 1350ms;
}

.menu__card:nth-child(10) {
  animation-delay: 1500ms;
}

h1 {
  font-family: "Shrikhand", cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.39, 0.01, 0.67, 0.99);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rise {
  0% {
    position: relative;
    left: 5px;
    bottom: 83px;
    z-index: 2;
  }
  100% {
    position: relative;
    left: 5px;
    bottom: 140px;
    z-index: 2;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-76px);
  }
  70% {
    transform: translateX(-76px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slidelefttablet {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideleftlarge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-90px);
  }
  70% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes widthreduce {
  0% {
    width: 82%;
  }
  30% {
    width: 60%;
  }
  70% {
    width: 60%;
  }
  100% {
    width: 82%;
  }
}
@keyframes tickspin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes menucards {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
.menu__btn {
  cursor: pointer;
  padding: 0.8em;
  border: none;
  border-radius: 2em;
  width: 10em;
  background: #EC73DA;
  background: -moz-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: -webkit-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: linear-gradient(170deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  box-shadow: 0 2px 5px #929191, inset 2px 0 5px #FF79DA;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.menu__btn:hover {
  background: -moz-linear-gradient(-10deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  background: -webkit-linear-gradient(-10deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  background: linear-gradient(170deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  box-shadow: 0 2px 5px #5F5E5E, inset 2px 0 5px #FF93F4;
}
.menu__btn:focus {
  outline: none;
}

.search__btn {
  cursor: pointer;
  padding: 0.8em;
  border: none;
  border-radius: 2em;
  width: 15em;
  background: #FF79DA;
  background: -moz-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: -webkit-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: linear-gradient(170deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  box-shadow: 0 2px 5px #929191, inset 2px 0 5px #FF79DA;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.search__btn:hover {
  background: -moz-linear-gradient(-10deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  background: -webkit-linear-gradient(-10deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  background: linear-gradient(170deg, #FF93F4 0%, #E582F5 40%, #AD70F6 100%);
  box-shadow: 0 2px 5px #5F5E5E, inset 2px 0 5px #FF93F4;
}
.search__btn:focus {
  outline: none;
}

.header {
  width: 87%;
  padding: 1em;
  margin: 0.5em;
  position: fixed;
  top: 0;
}
@media screen and (min-width: 600px) {
  .header {
    width: 94%;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    width: 95.5%;
  }
}
.header__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__content img {
  width: 180px;
}
.header__tohome {
  position: relative;
  bottom: 25px;
  align-self: flex-start;
}
.header__tohome a {
  color: black;
}

.footerContent {
  padding: 1.5em;
  background-color: #353535;
  color: white;
  position: relative;
  top: 350px;
}
.footerContent i {
  margin-right: 0.5em;
}
.footerContent a {
  color: white;
  text-decoration: none;
}
.footerContent a:hover {
  color: #9356DC;
}
.footerContent__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
}
.footerContent__info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 600px) {
  .footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footerContent__title {
    width: 100%;
  }
}

.menu {
  height: auto;
}
.menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 80px;
}
.menu h1 {
  display: inline-block;
  font-size: 2em;
  width: 85%;
}
@media screen and (max-width: 367px) {
  .menu h1 {
    font-size: 1.6em;
    width: 80%;
  }
}
.menu h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.menu h2:before {
  content: "";
  border-bottom: 3px solid #99e2d0;
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
}
.menu__content {
  padding: 1em;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: 350px;
}
.menu__heart {
  overflow: hidden;
  float: right;
  position: relative;
  top: 34px;
  right: 10px;
  width: 50px;
}
@media screen and (max-width: 367px) {
  .menu__heart {
    top: 24px;
  }
}
.menu__heart--cover {
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  float: right;
  position: relative;
  left: 60px;
}
.menu__heart--unselected {
  float: right;
}
.menu__heart--selected {
  background: -moz-linear-gradient(-10deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  background: -webkit-linear-gradient(-10deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  background: linear-gradient(180deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
  right: 40px;
}
:hover > .menu__heart--unselected {
  position: relative;
  z-index: 3;
  background: none;
  animation: 257.611ms disappear 441.763ms forwards;
}
:hover > .menu__heart--cover {
  animation: rise ease-out 1.5s;
}
:hover > .menu__heart--selected {
  position: relative;
  float: right;
  left: 0px;
  bottom: 32px;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .menu__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu__card {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 10px #d6d5d5;
  height: 44px;
  overflow: hidden;
  position: relative;
  top: 10px;
  opacity: 0;
  animation: 1000ms menucards ease-out forwards;
  animation-delay: 100ms;
}
.menu__card--title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 5px;
}
.menu__card--notes {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  display: inline-block;
  width: 82%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card--price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: inline-block;
  float: right;
}
.menu__card--tick {
  color: white;
  background-color: #99e2d0;
  padding: 1.5em 1em;
  font-size: 1.5em;
  width: 50px;
  position: relative;
  left: 107%;
  bottom: 71px;
}
.menu__card:hover .menu__card--tick {
  animation: slideleft 2s ease-in-out;
}
@media screen and (min-width: 600px) {
  .menu__card:hover .menu__card--tick {
    animation: slidelefttablet 2s ease-in-out;
  }
}
@media screen and (min-width: 1000px) {
  .menu__card:hover .menu__card--tick {
    animation: slideleft 2s ease-in-out;
  }
}
@media screen and (min-width: 1400px) {
  .menu__card:hover .menu__card--tick {
    animation: slideleftlarge 2s ease-in-out;
  }
}
.menu__card:hover .menu__card--price {
  animation: slideleft 2s ease-in-out;
}
.menu__card:hover .tick {
  animation: 345.83ms tickspin 271.557ms linear forwards;
}
.menu__card:hover .menu__card--notes {
  animation: widthreduce 2s ease-in-out forwards;
}
@media screen and (min-width: 1400px) {
  .menu__card:hover .menu__card--notes {
    animation: none;
  }
}
.menu__entree {
  margin-bottom: 2em;
}
@media screen and (min-width: 1000px) {
  .menu__entree {
    width: 32%;
  }
}
.menu__main {
  margin-bottom: 2em;
}
@media screen and (min-width: 1000px) {
  .menu__main {
    width: 32%;
  }
}
.menu__dessert {
  margin-bottom: 2em;
}
@media screen and (min-width: 1000px) {
  .menu__dessert {
    width: 32%;
  }
}
.menu__btncontainer {
  padding: 2em 2em 3em 2em;
  display: flex;
  justify-content: center;
}

#home__header {
  padding: 1.5em;
  margin: 0;
  position: static;
  display: flex;
  justify-content: center;
}
#home__header-img {
  margin: 0;
  width: 180px;
}
#home__footer {
  position: static;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.search input {
  font-family: "Roboto", "Font Awesome 5 Free", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  width: 92%;
  padding: 0.8em;
  text-align: center;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 3px 5px #cfcfcf;
}
@media screen and (min-width: 600px) {
  .search input {
    width: 96%;
  }
}
@media screen and (min-width: 1000px) {
  .search input {
    width: 98%;
  }
}
.search input:focus {
  outline: none;
}
.search h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.search div {
  padding: 1.5em 2em 4em 2em;
  text-align: center;
}
.search p {
  margin-bottom: 2em;
  color: #6d6c6c;
}

.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.information {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin-bottom: 3em;
}
@media screen and (min-width: 600px) {
  .information {
    align-items: center;
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 1000px) {
  .information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.information h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 1000px) {
  .information h2 {
    width: 100%;
  }
}
.information__div {
  background-color: #f6f6f6;
  padding: 1.8em 1.8em 1.8em 1em;
  margin-left: 0.5em;
  margin-bottom: 1.3em;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1em;
  border-radius: 30px;
  box-shadow: 0 3px 10px #e5e5e5;
}
@media screen and (min-width: 600px) {
  .information__div {
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  .information__div {
    width: 25%;
  }
}
.information__div span {
  margin-left: 1em;
}
.information__div i {
  color: #7e7e7e;
}
.information__div--purple {
  background-color: #f5edff;
}
.information__div--purple i {
  color: #9356DC;
}
.information__div--num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5em;
  right: 29px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em 3em 1em;
  background-color: #f6f6f6;
}
@media screen and (min-width: 600px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants h2 {
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
  .restaurants h2 {
    width: 80%;
  }
}

.restaurant-card {
  width: 100%;
  height: 330px;
  border-radius: 20px;
  box-shadow: 0 3px 5px #cfcfcf;
  margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
  .restaurant-card {
    width: 48%;
  }
}
.restaurant-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__new {
  width: max-content;
  position: relative;
  margin-top: -35px;
  left: 70%;
  top: 60px;
  background-color: #99e2d0;
  padding: 0.5em 1.5em;
  color: #008766;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.restaurant-card__div {
  padding: 0 1em;
}
.restaurant-card__div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.restaurant-card__div--link {
  width: 70%;
  margin-right: 0;
}
.restaurant-card__div--link a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.heart {
  overflow: hidden;
  float: right;
  position: relative;
  bottom: 60px;
  right: 10px;
  width: 50px;
}
.heart--cover {
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  float: right;
  position: relative;
  left: 60px;
}
.heart--unselected {
  float: right;
}
.heart--selected {
  background: -moz-linear-gradient(-10deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  background: -webkit-linear-gradient(-10deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  background: linear-gradient(180deg, #9356DC 0%, #CB68DB 60%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
  right: 40px;
}
:hover > .heart--unselected {
  position: relative;
  z-index: 3;
  background: none;
  animation: 257.611ms disappear 441.763ms forwards;
}
:hover > .heart--cover {
  animation: rise ease-out 1.5s;
}
:hover > .heart--selected {
  position: relative;
  float: right;
  left: 0px;
  bottom: 32px;
  z-index: 1;
}

.loading {
  position: fixed;
  background-color: rgba(246, 246, 246, 0.9);
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.2s remove 4s linear forwards;
}
.loading__spinner {
  position: fixed;
  padding: 5em;
  border-radius: 50%;
  background: -moz-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: -webkit-linear-gradient(-10deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  background: linear-gradient(170deg, #FF79DA 0%, #CB68DB 40%, #9356DC 100%);
  animation: spin 1s infinite;
}
.loading__icon {
  position: relative;
  vertical-align: middle;
  height: 1.2em;
  padding: 0.8em;
  background-color: rgba(246, 246, 246, 0.7);
  border-radius: 50%;
  color: #9356DC;
  animation: 1s wiggle 0.5s linear infinite;
}

/*# sourceMappingURL=style.css.map */
